@media all and (min-width: 360px){
    .navbar-class{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
    .icons-home{
        margin-right: 16px;
    }


}