/* .form-search-input{
    background-color:transparent;
    position: relative;
    border-radius: 12px;
    width: 358px;
    height: 51px;
    opacity: .05;
    color: white;
    border: none;
}

.form-search-input::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1A3249;
    opacity: 0.05; 
  } */

form input {
  position: relative;
  background-color: #2d455c;
  border: none;
  color: white;
  border-radius: 12px;
  font-size: 14px;
  width: 340px;
  height: 51px;
  padding-left: 10px;
}

form input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  opacity: 0.05;
 
}