@media all and (min-width: 360px){

    .offcanvas-start{
        width: 45%!important;
        background-color: #1A3249;
    }
    .name-canvas{
        font-size: 12px;
        font-weight: 600;
    }
    .offcanvas-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .canvas-style{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }
    .canvas-style img{
        width: 100%;
    }
    .canvas-style a, h6{
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }

}

@media all and (min-width: 768px){

    .offcanvas-start{
        width: 30%!important;
    }
    
}


@media all and (min-width: 1024px){

    .offcanvas-start{
        width: 30%!important;
    }
    .offcanvas-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .canvas-style{
        width: 45%;
    }
}

